<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>
       周边 - {{ setting('site.slogan') }}
    </title>
    <meta name="keywords" content="{% block keywords %}{{ setting('site.seo_keywords') }}{% endblock %}" />
    <meta name="description" content="{% block description %}{{ setting('site.seo_description') }}{% endblock %}" />
    <meta content="{{ csrf_token('site') }}" name="csrf-token" />
    <meta content="{{ app.user.isLogin()|default(0) }}" name="is-login" />
    <meta content="{{ setting('login_bind.weixinmob_enabled')|default(0) }}" name="is-open" />
    {{ setting('login_bind.verify_code', '')|raw }}
    {% if setting('site.favicon') %}
    <link rel="icon" href="{{ asset(setting('site.favicon')) }}" type="image/x-icon" />
    <link rel="shortcut icon" href="{{ asset(setting('site.favicon')) }}" type="image/x-icon" media="screen"/>
    {% endif %}

    <link href="{{ asset('themes/yingxiang/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('themes/yingxiang/css/travel.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{ asset('themes/yingxiang/js/jquery.min.js') }}"></script>
    <link href="{{ asset('themes/yingxiang/css/travel-course.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('themes/yingxiang/css/nav-main.css') }}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" media="screen" href="{{ asset('assets/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" media="screen" href="{{ asset('assets/v2/css/es-icon.css') }}" />
    <link rel="stylesheet" media="screen" href="{{ asset('themes/yingxiang/css/product.css') }}" />
    <!--[if lt IE 9]>
    <script src="{{ asset('assets/libs/html5shiv.js') }}"></script>
    <script src="{{ asset('assets/libs/respond.min.js') }}"></script>
    <![endif]-->
    <script type="text/javascript" src="{{ asset('themes/yingxiang/js/scrollFix.js') }}"></script>
    <script type="text/javascript" src="{{ asset('themes/yingxiang/js/common.js') }}"></script>

    <script src="http://apps.bdimg.com/libs/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <style>
        .navbar-right{
            margin-top: 0px !important;
        }
        .dropdown-toggle{
            margin-top: 0px !important;
        }
        .visible-lg a{
            margin-top: 0px !important;
        }
        .nav-hover a{
            margin-top: 0px !important;
        }
        .es-header{
            width: 100%;
            top: 0px;
            position: fixed;
            background-color: #ffffff;
        }
        .navbar-form .button{
            top:33px;
        }
        .qrcode:hover{
            transform: scale(1.8);
            transition: all 0.5s ease 0s;
        }
        .setting{
            display: inline-block;
            float: right;
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 0 3px;
        }
        .a2 img{
            max-width: 820px;
        }
        .carousel-indicators li{
            margin-right: 10px;
        }
        .carousel-indicators .active{
            margin-right: 10px;
        }
    </style>
</head>
<body>
{% set script_controller = 'course/product' %}
{% include 'TopxiaWebBundle::site-hint.html.twig' %}
{% include 'TopxiaWebBundle:Default:header.html.twig' %}
{#<div class="container-fluid banner-photo"></div>#}
<section class="es-poster swiper-container" style="margin-top: 84px;">
    {#<div class="swiper-wrapper">#}
        {#{% for poster in posters %}#}
            {#{% if poster.status == 1 %}#}
                {#{% if poster.mode == "img" %}#}
                    {#<div class="swiper-slide swiper-hidden" style="background: {{poster.background}};">#}
                        {#<div {% if poster.layout == 'limitWide' %}class="container"{% endif %}>#}
                            {#<a href="{{ poster.href|default('') }}" target="_blank" ><img class="img-responsive" src="{{ poster.src|default('') }}">#}
                            {#</a>#}
                        {#</div>#}
                    {#</div>#}
                {#{% elseif poster.mode == "html"%}#}
                    {#{{ poster.html|raw }}#}
                {#{% endif %}#}
            {#{% endif %}#}
        {#{% endfor %}#}
    {#</div>#}
    {#<div class="swiper-pager"></div>#}

    <div class="poster-left detail-course">
        <ul class="ul-list">
        </ul>
    </div>

    <div class="poster-right banner">
        <div class="carousel slide carousel-fade">
            <ol class="carousel-indicators es-carousel-indicators">
            </ol>
            <div class="carousel-inner" role="listbox">

                {% for index,imglink in posters|default(null) if imglink.src|default('') %}
                    {% if imglink.status %}
                        <div class="item {% if loop.index == 1 %}active{% endif %}" {% if attribute(color,index).value|default(null) %}style="background-color:{{ attribute(color,index).value }};"{% endif %}>
                            <a href="{{ imglink.href|default('') }}" target="{{ imglink.href }}"><img src="http://img.yxwps.com{{ imglink.src|default('') }}"></a>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>


</section>

<div class="container-fluid photo-list-btn">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <a href="{{ path('course_explore', {category:"YXW0091", fliter: {type: 'product',price: 'all',currentLevelId: 'all'},orderBy: 'latest'}) }}" target="_blank">
                    <img src="{{ asset('themes/yingxiang/img/photoicon1.png') }}" class="img-responsive" />
                </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <a href="{{ path('course_explore', {category:"YXW0092", fliter: {type: 'product',price: 'all',currentLevelId: 'all'},orderBy: 'latest'}) }}" target="_blank">
                    <img src="{{ asset('themes/yingxiang/img/photoicon2.png') }}" class="img-responsive" />
                </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <a href="{{ path('course_explore', {category:"YXW0093", fliter: {type: 'product',price: 'all',currentLevelId: 'all'},orderBy: 'latest'}) }}" target="_blank">
                    <img src="{{ asset('themes/yingxiang/img/photoicon3.png') }}" class="img-responsive" />
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid recommend photo-list-div">
    <div class="container">
        <div class="row">

            {% if Courses %}
            {% for course in Courses %}
                <div class="you-like-col col-md-4 col-sm-6 col-xs-12">
                    <a href="{{ path('product_show', {id:course.id}) }}" target="_blank">
                        <div class="like-item clearfix">
                            <div class="like-img">
                                <img src="{{ filepath(course.middlePicture, 'course.png') }}" class="img-responsive" width="100%">
                            </div>
                            <div class="like-caption">
                                <div class="title">
                                    <span class="col-md-9 col-xs-12 col-sm-12">{{ course.title }}</span>
                                    <div class="price col-md-3 text-right col-xs-12 col-sm-12">
                                        {% set temp =course.travelDetail.carousel|first|default(null) %}
                                        {% if temp != null %}
                                        <span><em>¥</em>{{ temp.price }}</span>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="des" style="font-size: 14px">
                                    {{ course.about|raw|plain_text(45) }}
                                </div>
                                <div class="description">
                                    <span class="glyphicon glyphicon-user"></span>&nbsp;{{ course.hitNum }}&nbsp;
                                    <span class="glyphicon glyphicon-comment"></span>&nbsp;{{ course.reviewCount }}&nbsp;
                                    已售：<em>{{ course.studentNum }}</em>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            {% else %}
                <div class="empty">暂无商品</div>
            {% endif %}
        </div>
    </div>
</div>
<div id="login-modal" class="modal" data-url="{{ path('login_ajax') }}"></div>
<div id="modal" class="modal"></div>

<footer class="footer">
    <div class="container-fluid" style="padding: 0px 0px">
        {% include 'TopxiaWebBundle:Default:footer.html.twig' %}
    </div>
</footer>
<script>
    carouselCid();
    function carouselCid(dely) {
        var $this = $(".carousel-inner .item");
        var item = dely || 4000;
        $('.carousel').carousel({
            interval: item
        });
        changeBg();
        $('.carousel').on('slide.bs.carousel', function() {
            setTimeout(function() {
                changeBg()
            }, 650)
        });
        for (var i = 0; i < $this.length; i++) {
            if (i == 0) {
                var html = '<li data-target=".carousel" data-slide-to="0" class="active"></li>';
                $this.parents(".carousel-inner").siblings(".carousel-indicators").append(html);
            } else {
                var html = '<li data-target=".carousel" data-slide-to="' + i + '"></li>';
                $this.parents(".carousel-inner").siblings(".carousel-indicators").append(html);
            }
        }
    }
    function changeBg(){
        var bgActive = $('.carousel-inner .active');
        if (bgActive.length >= 1) {
            $('.index-poster').css('background-color', bgActive.css('background-color'));
        }
    }


</script>

{% include 'TopxiaWebBundle::script_boot.html.twig' with {script_main: asset('bundles/topxiaweb/js/app.js')} %}
</body>
</html>